.search-form
  color: $black

  input
    width: 17em
    padding: 0.5em
    border-radius: 3px
    border: 3px solid white
    margin-bottom: 1em

  button
    width: 10em
    padding: 0.5em
    border-radius: 3px
    color: white
    font-weight: normal
    background: rgba(0,0,0, 0)
    border: 3px solid white
    transition: all 200ms ease

    &:hover
      background: rgba($red, 0.5)
      border: 3px solid rgba($red, 0.5)

  .search-label
    padding-right: 0.5em

.hero
  font-size: 2.5em
  padding: 0.5em
  padding-top: 1em

.subtitle
  font-weight: 100
  font-size: 1.5em
  padding-bottom: 2em
  
.search-wrapper
  text-align: center
  margin: 0 auto
  margin-bottom: 3em

.category-title
  font-size: 1.3em
  text-align: left
  margin-bottom: 0.5em

.category
  padding: 1em
  font-size: 1.5em

.category-artist
  color: rgba(255, 255, 255, 0.9)
  display: block
  font-weight: normal
  background-size: cover
  background-repeat: no-repeat
  background-position: 50% 15%
  height: 7em
  margin-bottom: 0.5em
  border: 1px solid rgba(#FFF, 0.5)
  transition: all 200ms ease

  &:hover
    color: white
    text-decoration: none
    border: 1px solid white 

.category-artist-card
  text-align: left
  padding: 0.5em
  background-color: rgba(0, 0, 0, 0.4)
  box-shadow: 0em 2em 1em rgba(0, 0, 0, 0.4)
