.search-form
  color: $black

  input
    width: 17em
    padding: 0.5em
    border-radius: 3px
    border: 3px solid white
    margin-bottom: 1em

  button
    width: 10em
    padding: 0.5em
    border-radius: 3px
    color: white
    font-weight: normal
    background: rgba(0,0,0, 0)
    border: 3px solid white
    transition: all 200ms ease

    &:hover
      background: rgba($red, 0.5)
      border: 3px solid rgba($red, 0.5)

  .search-label
    padding-right: 0.5em

.hero
  font-size: 2.5em
  padding: 1em
  padding-top: 0.5em

.search-wrapper
  text-align: center
  margin: 0 auto
  margin-bottom: 3em

.category
  text-align: center
  padding: 1em

.category-title
  font-weight: normal
  font-size: 1.5em
  margin-bottom: 0.4em

.top-artist
  margin-bottom: 0.5em
  font-size: 1.2em

.artists-of-the-day
  text-align: center
  text-decoration: underline
  font-size: 2.0em
  font-weight: normal
