@import 'custom_bootstrap'
@import 'colors'
@import 'header'
@import 'footer'
@import 'index'
@import 'listen'
@import 'typeahead'

// General styles
html
  height: 100%
  width: 100%

body
  position: fixed
  left: 0
  right: 0
  z-index: 0
  height: 100%
  width: 100%
  color: white
  font-size: 18px

.content:before
  content: ""
  position: fixed
  left: 0
  right: 0
  
  display: block
  width: 100%
  height: 100%
  background-size: cover
  background-repeat: no-repeat
  background-position: top center 
  background-attachment: fixed
  z-index: -1
  -webkit-filter: blur(5px)
  -moz-filter: blur(5px)
  -o-filter: blur(5px)
  -ms-filter: blur(5px)
  filter: blur(5px)

.content
  font-weight: 300
  font-family: 'Open Sans', helvetica, sans-serif
  background-color: rgba(0, 0, 0, 0.2)
  overflow: auto
  height: 100%
  width: 100%

a
  color: white
  &:hover
    color: white 
  &:focus
    color: white

.bold
  font-weight: bold

@media only screen and (max-device-width: 480px)
  .container > .navbar-header
    text-align: center
    margin: 0

  .search-more
    display: block
    float: none
