@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300)

body
  font-family: 'Open Sans', helvetica, arial, sans-serif

.artist-image
  height: 20em
  background-image: url('/img/album.jpg')
  background-size: cover
