@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300)

body
  font-family: 'Open Sans', helvetica, arial, sans-serif

.now-playing
  color: white
  background-size: cover
  padding: 1em 0

.artist-name
  font-size: 2em

.song-card
  margin-bottom: 1em
