%footer
  .container
    .row
      .col-md-12
        Made with 
        %span.less-than-three
          %i.fa.fa-heart
        in Philly by 
        %a{href: 'http://javonharper.com', target: '_blank'} Javon Harper
