.navbar{role: 'navigation'}
  .container
    .navbar-header
      %a.app-name{href: '/'}
        Goodnotes
        .small
          beta
      - if show_search_more_button
        %a.search-more{href: '/'}
          Search more artists
