.navbar{role: 'navigation'}
  .container
    .navbar-header
      %a.app-name{href: '/'}
        Goodnotes
        .small
          alpha
      %a.search-more.pull-right{href: '/'}
        Search more artists
