!!!
%html
  %head
    %title Goodnotes - Discover the best that a artists has to offer.
    %link{rel: 'stylesheet', href: '/stylesheets/application.css'}
  %body
    %h1 Goodnotes
    %input#search-term{type: 'text'}
    %button Search Artists

  %script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js'}
