!!!
%html
  %head
    %title Goodnotes - Discover the best that a artists has to offer.
    %link{rel: 'stylesheet', href: '/stylesheets/style.css'}
    %link{rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'}

  %body
    %h1 Goodnotes
    %input#search-term{type: 'text'}
    %button Search Artists

