:css
  .content::before {
    background-image: url('/img/background.jpg');
  }
%body
  .content
    = haml :header
    .container
      .search-wrapper
        %h1.hero
          Explore the best tracks artists have to offer.
        %form.search-form{action: '/search', method: "get"}
          %div
            %input#query{type: 'text', name: 'query', placeholder: 'Artist/Band Name', autofocus: 'autofocus'}
          %div
            %button 
              %span.search-label Search artists
              %i.fa.fa-play.search-icon
      .row
        .about.col-md-6
          %h2 About

          %p 
            The goal of Goodnotes is to bring you a 
            succinct preview of any musical artist or band. 
            It presents the 5 most popular songs of an artist,
            queues them up, and plays them for you. 
          %p.bold.center
            Uses include:
          %p 
            Friend recommended a band but you're not sure where to start?
          %p 
            Going to a show and don't know who the openers are? 
          %p 
            Found a cool artist through Shazam/SoundHound and want to hear more?
          %p.call-to-action
            Goodnotes can be used for all these and more.
          %p.listen-now 
            Get to listenin'!

    = haml :footer
