%body{style: "background-image: url('/img/background.jpg');"}
  .content
    = haml :header
    .container
      .search-wrapper
        .hero
          Expore the best tracks artists have to offer.
        %form.search-form{action: '/search', method: "get"}
          %div
            %input#query{type: 'text', name: 'query', placeholder: 'Artist/Band Name'}
          %div
            %button Search artists
