extends layout

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        h1 Listen to the best tracks of any artist.
        p Type in an artist or band to generate a playlist of their 5 most popular songs.  

        form(action="/search", method="get")
          input.query(class="artist-typeahead", type="text", name="query", autofocus="true", autocomplete="off", placeholder="Search any musical artist or band")
          button.button Search
