doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.1.0/readmore.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js")

    script(type="text/javascript", src="/javascripts/typeahead.js")

  body
    // div.bg-wrapper
    //   img.artist-image(src="#{imageUrl}")
    //   div.bg-panel

    include ./shared/header.jade

    block content

    include ./shared/footer.jade

    include ./vendor/youtube.jade
    include ./vendor/inspectlet.jade
    include ./vendor/ganalytics.jade
