!!!
%html
  %head
    %title Goodnotes
    %meta{charset: 'utf-8'}
    %link{rel: 'stylesheet', href: '/stylesheets/bootstrap.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/application.css'}
  %body
    = yield
  %script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js'}
  %script{src: '/application.js'}
