!!!
%html
  %head
    %title
      = @page_title || 'Goodnot.es'
    %meta{charset: 'utf-8'}
    %link{rel: 'stylesheet', href: '/stylesheets/application.css'}
  = yield
  %script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js'}
