
extends layout

block content
  .container
    .row
      .col-md-3
        h2= artist 
        // h3
        // ul
        //   each track in tracks
        //     li= track.name
      // .col-md-6
      //   h2 Songs
      //
      // .col-md-3
      //   h2 Related artists
