.container
  .row
    .col-12
      %div
        %h1 
          = "Top tracks by #{artist}"
  .row
    .col-12
      %div
        - songs.each do |song|
          .song-card 
            %div
              %span.song-name
                = song[:name]
            %div
              %a{href: song[:youtube_media_url]}
                Listen from source


