extends layout

block content
  script(type='text/javascript').
    $(function() {
      $('.backdrop').css({
        "background-image:before": "url(#{imageUrl})"
      });
    });

  .container
    .row
      .backdrop.col-md-12


