@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: white;
}

a:hover, a:active {
  color: #e9e9e9;
  text-decoration: none;
}

input {
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding: 6px 10px;
  width: 100%;
}

input:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

.button {
  color: #FFF;
  background-color: #33C3F0;
  border: 1px solid #33C3F0;
  height: 38px;
  padding: 0 30px;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 5px;
}

.bg-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -100;
}

.artist-image-wrapper {
  width: 100%;
  height: 50%;
  background: #333;
}

.artist-image-background {
  -webkit-filter: blur(2px);
  opacity: 0.5;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

.bg-panel {
  width: 100%;
  height: 40%;
  background: #E8F1F5;
  z-index: -500;
}


/* Header */
header {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.2)
}

.logo {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

/* Footer */
footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: white;
  margin-top: 1em;
  text-align: right;
  color: #666;
}

footer a {
  color: #333;
}

footer a:hover, a:active {
  color: #888;
  text-decoration: none;
}


.luv {
  color: #CF544F;
  display: inline-block;
}


/* Index Page */
.query {
  margin-bottom: 2em;
}

.twitter-typeahead {
  width: 100%;
}

/* Listen Page */
.listen-header {
  color: white;
  margin-bottom: 2em;
}

.artist-name {
  font-size: 1.5em;
  text-transform: uppercase;
  padding-top: 1em;
  padding-bottom: 1em;
}

.artist-tags {
  list-style: none;
  padding-left: 0;
}

.artist-tag {
  text-transform: capitalize;
  display: inline-block;
  margin-right: 0.5em;
}

.artist-tag:after {
  content: ' ·';
}

.artist-tag:last-child:after {
  content: '';
}

.artist-summary {
  font-size: 0.8em;
  white-space: pre-wrap;
}

.artist-summary p {
  overflow: hidden;
  -webkit-transition: all 200ms;
}

.artist-summary p a:last-child {
  display: block;
}

.artist-description {
  margin-top: 15em;
}

.btn.btn-link {
  padding: 0;
  color: white;
}

/* Listen Page Player */
.player-section {
  background-color: white; 
  border-radius: 6px;
  padding: 1em;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
}

.player-header {
  margin-top: 0;
  margin-bottom: 1em;
}

.track-list-item {
  margin-bottom: 1em;
  font-size: 1.0em;
  padding-bottom: 0.5em
}

.track-status {
  width: 1.5em;
}
.track-name {
  padding-left: 0.7em;
}

#player {
  width: 100%;
}

/* Similar artist */
.similar-artist-section {
  color: #333;
}

.similar-artist-name {
  color: #333;
}

.similar-artists-header {
}

.similar-artist-image {
  width: 100%;
  border-radius: 5px;
  height: 15em;
  background-size: cover;
  background-position: 50% 30%
}

.similar-artist-name {
  margin-top: 1em;
  font-size: 1.3em;
  text-align: center
}
