@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #EAF1F5;
}

a {
  color: #555;
}

a:hover, a:active {
  color: #111;
  text-decoration: none;
}

input {
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding: 6px 10px;
  width: 100%;
}

input:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

.button {
  color: #FFF;
  background-color: #33C3F0;
  border: 1px solid #33C3F0;
  height: 38px;
  padding: 0 30px;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 5px;
}

/* Header */
header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: white;
}

.logo {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Index Page */
.query {
  margin-bottom: 2em;
}

/* Listen Page */
.backdrop:before {
  height: 30em;
  background-repeat: none;
  background-size: cover;
}
