@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

a {
  color: #555;
}

a:hover, a:active {
  color: #111;
  text-decoration: none;
}

input {
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  padding: 6px 10px;
  width: 100%;
}

input:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

.button {
  color: #FFF;
  background-color: #33C3F0;
  border: 1px solid #33C3F0;
  height: 38px;
  padding: 0 30px;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 5px;
}

/* Header */
header {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: white;
  margin-bottom: 1em;
}

.logo {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Footer */
footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: white;
  margin-top: 1em;
  text-align: right;
}

.luv {
  color: #CF544F;
  display: inline-block;
}


/* Index Page */
.query {
  margin-bottom: 2em;
}

/* Listen Page */

.listen-page-header {
  margin-top: 0;
  margin-bottom: 1em;
}

.artist-image {
  width: 100%;
  border-radius: 5px;
}

.artist-name {
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  padding-top: 1em;
  padding-bottom: 1em;
}

.artist-tags {
  list-style: none;
}

.artist-tag {
  text-transform: capitalize;
  display: inline-block;
  margin-left: 0.5em;
}

.artist-tag:after {
  content: ',';
}

.artist-tag:last-child:after {
  content: '';
}

.artist-summary {
  font-size: 0.8em;
}

.artist-summary p {
  overflow: hidden;
  -webkit-transition: all 200ms;
}

.btn.btn-link {
  text-align: center;
  display: block;
}

.track-list-item {
  margin-bottom: 1em;
  font-size: 1.3em;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 0.5em
}

.track-name {
  padding-left: 0.5em;
}

.video {
  width: 100%;
  border-radius: 5px;
}

.similar-artist-image {
  width: 100%;
  border-radius: 5px;
  height: 15em;
  background-size: cover;
  background-position: 50% 30%
}

.similar-artist-name {
  margin-top: 1em;
  font-size: 1.3em;
  text-align: center
}
