@(message: String)

@main("Welcome to Play Framework") {
    <!-- <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script> -->
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>

    <div clas="row">
      <div class="col-md-6">
        <input id="artist-name" class="form-control"type="text" placeholder="Name of artist">
      </div>
    </div>
    <div clas="row">
      <div class="col-md-6">
        <button id="submit-artist" class="btn btn-primary">Go</button>
      </div>
    </div>
}
